*{
	margin: 0;
	padding: 0;
	font-family: Century Gothic;
}

body{
	background-image: linear-gradient(rgba(0,0,0,0.5),rgba(0,0,0,0.5)),url(../space.jpg);
	width: 100%;
	bottom: 0px;
	height: 100vh;
	background-position: center;
	background-attachment: fixed;
	max-width: 100%;
	overflow-x:hidden;
}

ul{
	float: right;
	list-style-type: none;
	margin-top: 25px;
}

ul li{
	display: inline-block;
}

ul li a{
	text-decoration: none;
	color: #59eff7;
	padding: 5px 20px;
	border: 1px solid transparent;
	transition: 0.6s ease;
}

ul li a:hover{
	background-color: #59eff7;
	color: #000;
}

ul li.active a{
	background-color: #59eff7;
	color: #000;
}

.Transtar{
	position: absolute;
	top: 10px;
	left:3%;
	transform:translate(0%,0%);
}

.Transtar img{
	width: 100px;
	height: auto;
}

.Transtar .title{
	width: 350px;
	position:absolute;
	top:0px;
	left:115px;
	transform:translate(0%,0%);
}

.Transtar .title h1{
	float:left;
	color: #fff;
	font-size: 25px;
}

.Transtar .title h2{
	float:left;
	color: #fff;
	font-size: 15px;
}

.Transtar .title h3{
	float:left;
	color: #fff;
	font-size: 12px;
}

.main{
	max-width: 1400px;
	margin: auto;
}

.doc{
	position: absolute;
	left: 50%;
	top: 20%;
	transform: translate(-50%,0%);
	width: 1000px;
}

.doc img{
	width: 1000px;
	height: auto;
}